<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234949824972-b63h6vmhpp5oms1r60ah3ve0fvtnselv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234949824972-b63h6vmhpp5oms1r60ah3ve0fvtnselv</string>
	<key>API_KEY</key>
	<string>AIzaSyADRBeuE7MionE9CjneGtBD2v3ObYjUfMI</string>
	<key>GCM_SENDER_ID</key>
	<string>234949824972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bezrukov.andrey.Login-in-system3</string>
	<key>PROJECT_ID</key>
	<string>login-in-system3</string>
	<key>STORAGE_BUCKET</key>
	<string>login-in-system3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234949824972:ios:8cbefe11d2a4bfcc888d69</string>
</dict>
</plist>